*.vs
*.log
*.log.*
*.exe
*.idea
*.spec
*.vscode
__pycache__
Math/Calculus/Solutions/Lean/.lake/packages/
408/Organization/FixPoint/Debug/
408/Organization/AssemblyLanguage/x64/Debug/
408/OS/2024/ModularAutomation/modules/rf_test/packages/
408/OS/2024/ModularAutomation/modules/rf_test/WT_SCPI_SampleCode/bin/Debug/
408/OS/2024/ModularAutomation/modules/rf_test/WT_SCPI_SampleCode/obj/Debug/
build/
*~$*.xlsx
Note/工作日志_单个sheet输出/
*.pkl
