*.vs
*.log
*.log.*
*.exe
*.idea
*.spec
*.vscode
__pycache__
Math/Calculus/Solutions/Lean/.lake/packages/
408/Organization/FixPoint/Debug/
408/Organization/AssemblyLanguage/x64/Debug/
408/OS/2024/ModularAutomation/modules/rf_test/packages/
408/OS/2024/ModularAutomation/modules/rf_test/WT_SCPI_SampleCode/bin/Debug/
408/OS/2024/ModularAutomation/modules/rf_test/WT_SCPI_SampleCode/obj/Debug/
build/
*~$*.xlsx
Note/工作日志_单个sheet输出/
*.pkl
*.dll
*.pdb
*.so
obj/
bin/
Debug/
*.ilk
*.obj
*.pdf
*.mp4
*.lib
*.exp
*.svn-base
*.svn
*.i64
/复试/一志愿/Phase 6/资料准备
/复试/找调剂/审查/农林大学
/复试/找调剂/审查/华侨大学
/复试/找调剂/审查/宁夏大学
/复试/找调剂/审查/青岛科技大学
*.zip
复试/找调剂/审查/我自己/要打印/身份证.jpg
