*.vs
*.idea
408/Organization/FixPoint/Debug/
*.log
__pycache__
build
*.spec
*.exe
*.vscode
408/OS/2024/SimulateRTOS/STM32/Objects/
408/OS/2024/SimulateRTOS/STM32/RTE/
408/Organization/AssemblyLanguage/x64/Debug/
